name: Deploy to Cloudflare Workers

on:
    push:
        branches:
            - master

jobs:
    test:
        uses: ./.github/workflows/test.yml  # Call reusable test workflow
        with:
            node-version: '20'

    deploy:
        needs: test
        uses: ./.github/workflows/deploy-worker.yml  # Call reusable deploy workflow
        secrets:
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}